.margen{
  margin: 100px;
}

.tabla{
  width: 100%;
  text-align: left;
}

.tabla td{
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu{
  background-color: #253a46;
  padding: 20px;
  font-size: 20px;
}

#menu a{
  color:white;
  padding-right: 20px;
}

body{
  margin: 0;
}

.pub_titulo{
  border-top: 1px solid #000;
  padding: 5px 0px 0px 0px;
  margin-bottom: 50px;
  cursor: pointer;
}

.contenedor_tareas{
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}

.m_left{
  margin-left: 20px;
}